<!DOCTYPE html>
<html amp lang="ja">
  <head>
    {{ partial "meta" . }}

    <title>{{ .Site.Title }}</title>
  </head>
  <body>
    {{ partial "header" . }}

    <main>
      <nav>
        <ul id="entries">
          {{ range .Data.Pages.ByDate.Reverse }}
          {{ if (and (ne .Type "search") (ne .Type "about")) }}
          <li><a href="{{ .Permalink }}">{{ .Title }}</a></li>
          {{ end }}
          {{ end }}
        </ul>
      </nav>
    </main>

    {{ partial "footer"     . }} 
    {{ partial "analytics"  . }}
  </body>
</html>
