<!DOCTYPE html>
<html amp lang="ja">
  <head>
    {{ partial "meta" . }}
    {{ partial "metadata" . }}
  </head>
  <body>
    {{ partial "header" . }}

    <main>
      {{ partial "article" . }}
      {{ partial "share" . }}
      {{ partial "ads" . }}
    </main>

    {{ partial "footer"     . }} 
    {{ partial "analytics"  . }}
  </body>
</html>
