<!DOCTYPE html>
<html amp lang="ja">
  <head>
    {{ partial "meta" . }}
  </head>
  <body>
    {{ partial "header" . }}

    <main>
      <article style=" text-align: center ; ">
        <h1>ここには何もありません。</h1>
        <section>
          <p>お探しのモノは、<a href="{{ .Site.BaseURL }}search">検索ページ</a>で見つかるかもしれないです。</p>
        </section>
      </article> 
    </main>

    {{ partial "footer"     . }} 
    {{ partial "analytics"  . }}
  </body>
</html>
