{{ with  getJSON (printf "data/asin/%s.json" (.Get 0)) }}
{{ if not .err }}
<figure class="amazon">
  <p>
    <a href="{{ .permalink }}">
      <amp-img
        layout="responsive"
        {{ range $image := .images }}{{ if (eq $image.type "medium") }}
        src="{{ $image.url }}"
        width="{{ $image.width }}"
        height="{{ $image.height }}"
        {{ end }}{{ end }}
        srcset="
        {{ range $idx, $image := .images }}
        {{ $image.url }} {{ $image.width }}w{{ if (ne $idx 0) }},{{ end }}
        {{ end }}
        "
        alt="thumbnail for asin:{{ .asin }}" />
    </a>
  </p>
  <figcaption>
    <p><a href="{{ .permalink }}">{{ .title }}</a></p>
  </figcaption>
</figure>
{{ else }}
{{ end }}
{{ end }}

