{{ with getJSON (printf "data/itunes/%s.json" (.Get 0)) }}
<figure class="itunes">
  <p>
    <a href="{{ .permalink }}">
      <amp-img
        layout="fixed"
        src="{{ .image }}"
        width="100"
        height="100"
        alt="thunbmail for itunes id:{{ .id }}"
        />
    </a>
  </p>
  <figcaption>
    <p><a href="{{ .permalink }}">{{ .title }}</a></p>
  </figcaption>
</figure>
{{ end }}
