<article>
  <h1><a href="{{ .Permalink }}">{{ .Title }}</a></h1>
  <section>
    {{ .Content }}
  </section>

  <aside>
    <p>
      <a href="{{ .Site.BaseURL }}/{{ .Date.Year }}/{{ printf "%02d" .Date.Month }}/{{ printf "%02d" .Date.Day }}/">
        <time datetime="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}">
          {{ dateFormat "2006-01-02 15:04 Z07:00" .Date }}
          </time>
      </a>
    </p>
  </aside>
</article>

