<footer>
  <aside>
    <h1>著者</h1>

    <figure>
      <p class="thumbnail">
        <a href="http://nyarla.net/">
          <amp-img
            src="/assets/images/avatar.svg"
            width="64"
            height="64"
            alt="Avatar Icon" />
        </a>
      </p>
      <figcaption>
        <p><a href="http://nyarla.net/">岡村 直樹</a> (にゃるら)</p>
      </figcaption>
    </figure>

    <section>
      <p>
        1988 年 2 月 28 日生まれ。『輝かしい青春』なんて無かった 27 歳。
      </p>
      
      <p>
        地元の進学校に在学していた高校一年の 2003 年頃、何故か精神的に不安定になり不登校に。
        そしてその後、統合失調症の疑いと診断される。そのため、高校に通えたり通えなかったりを繰り返し、
        最終的には高校を自主退学した後、この 10 年ぐらい、もうずっと病気療養中。
      </p>

      <p>
        また、この 10 年近くを掛けて、統合失調症は寛解状態 (服薬していれば症状は出ない状態) に持ち込めたものの、
        今度は 2012 年頃に母が倒れ、その影響で、季節性のうつ症状が定型のうつ病に深化したり、あるいは、
        2015 年の年始の頃、自身にごく軽度では有るけれども、自閉症スペクトラム (発達障害・アスペルガー) の特徴が有る、
        という事が発覚したりと、色々と前途多難な病気療養生活を送っている。
      </p>
      
      <p>
        なお、プログラミングとブログは、その病気療養の最中、2006 年頃に症状が安定しない中で始め、
        その後 10 年、ブランクの時期が有ったりしたものの、今尚活動を続けており、 2016 年の 1 月、
        本ブログ、『カラクリズム』 を始めるに至る。
      </p>

      <p>
        あと、座右の銘とかは特に無く、人生楽ありゃ苦も有るさ、
        未練なく終わればそれで良し、なんて、 2016年 1月現在は考えている。
      </p>
    </section>

    <h1>リンク</h1>
    <nav>
      <ul>
        <li><a href="http://nyarla.net">プロフィール (詳細)</a></li>
        <li><a href="{{ .Site.BaseURL }}about/">このブログについて</a></li>
        <li><a href="{{ .Site.BaseURL }}">過去ログ (トップページ)</a></li>
        <li><a href="{{ .Site.BaseURL }}feed">購読 (RSS へのリンク)</a></li>
        <li><a href="{{ .Site.BaseURL }}search/">ブログ検索</a></li>
      </ul>
    </nav>
  </aside>
  
  <hr />

  <p id="copyright">&copy; 2016 <a href="{{ .Site.Params.Profile }}">Naoki OKAMURA</a></p>
</footer>
