{{ $title := (printf "%s - %s" .Title .Site.Title) }}

<meta name="twitter:card" content="summary" />
<meta name="twitter:site"  content="@nyarla" />
<meta name="twitter:title"  content="{{ $title }}" />
<meta name="twitter:description" content="{{ .Summary }}" />
<meta name="twitter:image" content="{{ .Site.BaseURL }}/assets/images/avatar.jpg" />

<meta property="og:type" content="article" />
<meta property="og:title" content="{{ .Title }}" />
<meta property="og:image" content="{{ .Site.BaseURL }}/assets/images/avatar.svg" />
<meta property="og:image" content="{{ .Site.BaseURL }}/assets/images/avatar.jpg" />
<meta property="og:url" content="{{ .Permalink }}">

<meta property="og:description" content="{{ .Summary }}" />
<meta property="og:locale" content="ja_JP" />

<meta property="og:article:published_time" content="{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}" />
<meta property="og:article:author:first_name" content="Naoki" />
<meta property="og:article:author:last_name" content="OKAMURA" />
<meta property="og:article:author:gender" content="male" />

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "BlogPosting",

  "headline": "{{ .Title }}",
  "description": "{{ .Summary }}",

  "image": {
    "@type": "ImageObject",
    "url": "{{ .Site.BaseURL  }}assets/images/avatar.jpg",
    "width": 1024,
    "height": 1024
  },

  "datePublished": "{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}",
  "dateModified": "{{ dateFormat "2006-01-02T15:04:05Z07:00" .Date }}",

  "mainEntityOfPage": {
    "@type": "WebPage",
    "@id": "{{ .Site.BaseURL  }}"
  },

  "author": {
    "@type": "Person",
    "name" : "岡村 直樹",
    "familyName": "岡村",
    "givenName":  "直樹",
    "birthDate": "1988-02-28",

    "url" : "http://nyarla.net/",
    "sameAs": [
      "https://twitter.com/nyarla"
    ]
  },
  "publisher": {
    "@type": "Person",
    "name": "岡村 直樹",
    "logo": {
      "@type": "ImageObject",
      "url": "{{ .Site.BaseURL }}assets/images/logo.jpg",
      "width": 60,
      "height": 60
    }
  }
}
</script>

<title>{{ $title }}</title>
