<meta charset="utf-8">
<meta name="viewport" content="width=device-width,minimum-scale=1">

<link rel="canonical" href="{{ .Permalink }}" />

{{ partial "stylesheet" . }}

<script async src="https://cdn.ampproject.org/v0.js"></script>
<script async custom-element="amp-twitter" src="https://cdn.ampproject.org/v0/amp-twitter-0.1.js"></script>

<script type="application/ld+json">
{
  "@context" : "http://schema.org",
  "@type" : "WebSite",
  "name" : "カラクリズム",
  "alternateName" : "kalaclism",
  "url" : "https://kalaclism.com/"
}
</script>
