{{ $encodedPermalink := (urlquery .Permalink) }}
{{ $encodedTitle     := (urlquery (printf "%s - %s" .Title .Site.Title)) }}

<nav class="share">
  <ul>
    <li><a class="twitter"  href="https://twitter.com/share?url={{ $encodedPermalink }}&amp;via=nyarla&amp;text={{ $encodedTitle }}">つぶやく</a></li>
    <li><a class="facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ $encodedPermalink }}">シェアる</a></li>
    <li><a class="google"   href="https://plus.google.com/share?url={{ $encodedPermalink }}">プラスる</a></li>
    <li><a class="hatena"   href="https://b.hatena.ne.jp/my/add.confirm?title={{ $encodedTitle }}&amp;{{ $encodedPermalink }}">はてブる</a></li>
    <li><a class="tumblr"   href="https://www.tumblr.com/widgets/share/tool?canonicalUrl={{ $encodedPermalink }}">タンブる</a></li>
  </ul>
</nav>

