<style>body {opacity: 0}</style><noscript><style>body {opacity: 1}</style></noscript>
<style amp-custom>
/*! normalize.css v3.0.3 | MIT License | github.com/necolas/normalize.css */ html{font-family:sans-serif;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section,summary{display:block}audio,canvas,progress,video{display:inline-block;vertical-align:baseline}audio:not([controls]){display:none;height:0}[hidden],template{display:none}a{background-color:transparent}a:active,a:hover{outline:0}abbr[title]{border-bottom:1px dotted}b,strong{font-weight:bold}dfn{font-style:italic}h1{font-size:2em;margin:.67em 0}mark{background:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sup{top:-0.5em}sub{bottom:-0.25em}img{border:0}svg:not(:root){overflow:hidden}figure{margin:1em 40px}hr{box-sizing:content-box;height:0}pre{overflow:auto}code,kbd,pre,samp{font-family:monospace,monospace;font-size:1em}button,input,optgroup,select,textarea{color:inherit;font:inherit;margin:0}button{overflow:visible}button,select{text-transform:none}button,html input[type="button"],input[type="reset"],input[type="submit"]{-webkit-appearance:button;cursor:pointer}button[disabled],html input[disabled]{cursor:default}button::-moz-focus-inner,input::-moz-focus-inner{border:0;padding:0}input{line-height:normal}input[type="checkbox"],input[type="radio"]{box-sizing:border-box;padding:0}input[type="number"]::-webkit-inner-spin-button,input[type="number"]::-webkit-outer-spin-button{height:auto}input[type="search"]{-webkit-appearance:textfield;box-sizing:content-box}input[type="search"]::-webkit-search-cancel-button,input[type="search"]::-webkit-search-decoration{-webkit-appearance:none}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{border:0;padding:0}textarea{overflow:auto}optgroup{font-weight:bold}table{border-collapse:collapse;border-spacing:0}td,th{padding:0}

/* global */
html, body {
  background-color: #F8F8F6 ;
  color: #2E3436 ;
  font-family: "游ゴシック", "YuGothic", sans-serif ;
}

h1,h2,h3,h4,h5,h6,
#entries li {
  font-weight: bold ;
  font-family: "游明朝", "YuMincho", serif ;
}

a:link    { color: #0000A4 ; }
a:visited { color: #204A87 ; }
a:hover   { color: #C17D11 ; }
a:active  { color: #C17D11 ; }

hr {
  border-width: 1px 0 0 0 ;
  border-style: solid none none none ;
  border-color: #D3D7CF ; 
}

blockquote {
  border-left : 6px solid #BABDB6 ;
  margin-left : 0 ;
  padding: 1em 0 1em 1em ;
}

blockquote > *:first-child {
  margin-top : 0 ;
}

blockquote > *:last-child {
  margin-bottom : 0 ;
}

amp-img {
  max-width: 20em ;
}


figure.amazon,
figure.itunes {
  margin: 1em auto ;
  max-width: 20em ;
  text-align: center ;
}

figure.amazon amp-img {
  border: 1px solid #FFFFFF ;
  box-shadow: 0px 1px 3px #888A85 ;
}

figure.itunes p {
  margin: 0 ;
}

/* element local */
header {
  text-align: center ;
}

main, footer {
  max-width: 45em ;
  padding-left: 1em ;
  padding-right: 1em ;
}

#website-title {
  margin: 2em 0 ;
  font-size: 3rem ;
}

#website-title a {
  text-decoration: none ;
  color: #000000 ;
}

main {
  margin: 6rem auto 0 auto ;
}

#website-title a:hover,
#website-title a:active {
  text-decoration: underline ;
}

#website-description {
  padding-left: 0.5em ;
  font-weight: bold ;
}


article h1 a {
  text-decoration: none ;
}

article h1 a:hover,
article h1 a:active {
  text-decoration: underline ;
}

article section {
  font-size: 1.1em ;
}

article aside {
  text-align: right ;
}

nav.share {
  margin: 2em 0 ;
}

nav.share ul {
  padding-left: 0 ;
  text-align : center ;
}

nav.share ul li {
  list-style: none ;
  display: inline-block ;
}

nav.share ul li a {
  display: block ;
  margin: 0 0.5em 0.5em 0 ;
  padding: 0.25em 0.5em ;

  border: 1px solid rgba(0,0,0, 0.19) ;
  border-radius: 2px ;
  text-shadow: 0px 1px 2px rgba(0,0,0, 0.19) ;
}

nav.share ul li a.twitter  { background-color: #55ACEE ; }
nav.share ul li a.facebook { background-color: #3B5998 ; }
nav.share ul li a.google   { background-color: #DC4E41 ; }
nav.share ul li a.hatena   { background-color: #00A5DE ; }
nav.share ul li a.tumblr   { background-color: #35465C ; }

nav.share ul li a:link,
nav.share ul li a:visited  { color: #EEEEEC ; text-decoration : none ; }

nav.share ul li a:hover,
nav.share ul li a:active   { color: #FFFFFF ; text-decoration : underline ;}

aside.ads {
  text-align: center ; 
}

#entries {
  padding-left: 0 ;
  margin-bottom: 6rem ;
}

#entries li {
  font-size: 1.2em ;
  list-style: none ;
  margin-bottom: 0.25em ;
}

#entries li a {
  text-decoration: none ;
}

#entries li a:hover, 
#entries li a:active {
  text-decoration: underline ;
}

#entries li a:before {
  display: inline ;
  content: "\2740" ;
  margin-right: 0.25em ;
  font-family: serif ;
  color: #8AE234 ;
}


footer {
  clear: both ;
  margin: 0 auto ;
}

footer aside figure {
  margin: 0 ;
}

footer aside figure .thumbnail {
  float: left ;
  margin: 0 1em 0 0 ;
}


#copyright {
  text-align: center ;
}
</style>
