<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,minimum-scale=1">

    {{ partial "stylesheet" . }}

    <style>
      body {opacity: 1}

      #field {
        text-align: center ;
      }

      #search {
        padding: 0.25em 0.5em ;

        border: 1px solid #BABDB6 ;
        border-radius: 3px ;

        text-align: left ;
        font-size: 1.2em ;
      }

      #field,#results {
        margin: 4em auto ;
        max-width: 45em ;
      }

      #results article h1 {
        font-size : 1.5em ;
      }

      .message {
        text-align: center ; 
      }
    </style>

    <title>{{ .Site.Title }}</title>
  </head>
  <body>
    {{ partial "header" . }}
    
    <div id="field">
      <input type="text" id="search" size="45" placeholder="このブログを検索する">
    </div>

    <main id="results">
      <p class="message">検索結果がここに表示されます。</p>
      <p class="message">なお、検索には Javascript が有効になっている必要が有ります。</p>
    </main>

    <footer>
      <hr />
      <p id="copyright">&copy; 2016 <a href="{{ .Site.Params.Profile }}">Naoki OKAMURA</a></p>
    </footer>

    <script src="{{ .Site.BaseURL }}assets/scripts/tinysegmenter.js"></script>
    <script src="{{ .Site.BaseURL }}assets/scripts/lunr.js"></script>
    <script src="{{ .Site.BaseURL }}assets/scripts/lunr.stemmer.support.js"></script>
    <script src="{{ .Site.BaseURL }}assets/scripts/lunr.jp.js"></script>
    <script src="{{ .Site.BaseURL }}assets/scripts/jquery.js"></script>
    <script>
      "use strict";

      var $pages = {};
      var $idx   = lunr(function () {
        this.use(lunr.jp);
        this.field('title', { boost: 10 });
        this.field('body');
        this.ref('permalink');
      });

      function $search(query) {
        return $idx.search(query).map(function (result) {
          if ( result.ref in $pages ) {
            return $pages[result.ref];
          }

          return null;
        }).filter(function (val) {
          return val !== null;
        });
      }

      function $render($items) {
        var $v = $('#results');
            $v.empty();

        if ( $items.length === 0 ) {
          return;
        }
        
        $items.forEach(function ($item) {
          var $container = $('<article>');
          var $title     = $('<h1>');
              $title.append($('<a>', { href: $item.permalink, text: $item.title }));

          $container.append($title);
          $container.append($('<p>', { text: $item.summary }));

          $v.append($container);
        });
      }

      $(document).ready(function () {
        var $i = $('#search');

        $i.change(function (){
          var $query  = $(this).val();
          var $items  = $search($query);

          $render($items);
        });
      });

    </script>

    <script>
      {{ range .Site.Pages.ByDate.Reverse }}
      {{ if ne .Type "search" }}
      (function () {
        var permalink = '{{ .Permalink }}';
        var title     = '{{ .Title }}';
        var body      = '{{ .Plain }}';
        var summary   = '{{ .Summary }}';

        $idx.add({
          title: title,
          body: body,
          permalink: permalink
        });

        $pages[permalink] = {
          title: title,
          summary: summary,
          permalink: permalink
        };
      })();
      {{ end }}
      {{ end }}
    </script>
  </body>
</html>
